<ion-header>
  <ion-toolbar  class="headerToolbar">
    <ion-title>
        <div>
            <ion-grid style="padding-bottom:0px">
                <ion-row>
                    <ion-col class="textAlignEnd" style="padding-top:10px">
                    	<div><img src="../../assets/imgs/dd.png" style="width:70px"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="products!=0">
        <div>
            <div class="padding5" style="position: relative;" *ngFor="let items of returnProductsArray;let i = index">
            <div class="storesBox" *ngIf="items.view!=0">
                <div class="storesSubBox">
                    <div class="storesImageDiv">
                         <img src="{{items.image}}" class="storesImage">
                    </div>
                    <div style="margin-left:65px">
                        <div>
                            <div class="storesName">{{items.name}}</div>
                            <div class="storesSubCatLabel">{{items.catName}}</div>
                            <div class="productInformation">{{items.description}}</div>
                        </div>
                         <div style="padding-left:3px">
                          <div class="storesImageIconOne" (click)="functionIncreaseQuntity(items.id,i,items.price)">
                             <ion-icon name="add-outline"></ion-icon>
                              </div>
                              <div class="storesCount">
                                {{items.quntity}}
                              </div>
                              <div class="storesImageIconTow" *ngIf="items.quntity <= 1">
                                 <ion-icon name="remove-outline"></ion-icon>
                              </div>
                              <div class="storesImageIconTow" *ngIf="items.quntity > 1" (click)="functionDecreaseQuntity(items.id,i,items.price)">
                                 <ion-icon name="remove-outline"></ion-icon>
                              </div>
                        </div>
                    </div>
                     <div class="storesPrice">
                         <div>السعر</div>
                         <div>{{items.price}} د</div>
                    </div>
                    <div style="padding-left:3px" (click)="functionRemoveFromCart(items.id,i)">
                        <div class="storesImageDelete">
                        	<ion-icon name="trash" class="trashIcon"></ion-icon>
                        </div>
                    </div>
                </div>
                <div style="border-top:1.5px solid"></div>
            </div>
         </div>
           <ion-radio-group value="1" (ionChange)="getTheOptions($event,i)">
                <ion-item lines="none" style="height:35px">
                    <ion-label class="storesSubCatLabel">الدفع نقدا</ion-label>
                    <ion-radio style="margin-inline:0px" slot="start" id="radioPro" mode="ios" value="1"></ion-radio>
                </ion-item>
                <ion-item lines="none"  >
                    <ion-label class="storesSubCatLabel">
                    	<img src="../../assets/imgs/isa.png" style="width:60px"> &nbsp;<img src="../../assets/imgs/mast.png" style="width:60px">
                    </ion-label>
                    <ion-radio style="margin-inline:0px" slot="start" id="radioPro" mode="ios" value="2"></ion-radio>
                </ion-item>
              </ion-radio-group>
         <div class="divButtonClass" (click)="functionAddOrder()">
            <ion-button class="oneButton fontSize14" id="submit"><span class="paddingBottom5">{{allpriceVal}} د إتمام عملية الشراء</span></ion-button>
          </div>
        </div>
    </div>
    <div *ngIf="products==0"  class="divEmptyVal">
        <div>
            <img src="../../assets/imgs/noProduct.png" style="width:150px; height:150px">
        </div>
        <div class="emptyFirstText">
            عذرا! لا يوجد منتجات حاليا
        </div>
        <div class="emptyLastText">
            لم يتم إضافة اي بيانات على هذه الشاشة حاليا
        </div>
    </div>     
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
       <div class="menueClass" (click)="functionGoToHome()">
        	<div><ion-icon name="home" slot="start"></ion-icon></div>
            <div class="labelClass">الرئيسية</div>
        </div>
        <div class="menueborder">&nbsp;</div>
        <div class="menueClass menueClassActive">
        	<div><ion-icon name="cart" slot="start"></ion-icon></div>
            <div class="labelClass">سلتي</div>
        </div>
        <div class="menueborder">&nbsp;</div>
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><ion-icon name="list" slot="start"></ion-icon></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>